.v-table {
   width: 100%;
   border-collapse: collapse;
   overflow-x: auto;

   thead {
      background-color: #f5f5f5;
   }

   th,
   td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
   }

   @media (min-width: 1024px) {
      th:nth-child(1),
      td:nth-child(1) {
         width: 10%;
      } // Kolom pertama
      th:nth-child(2),
      td:nth-child(2) {
         width: 30%;
      } // Kolom kedua
      th:nth-child(3),
      td:nth-child(3) {
         width: 40%;
      } // Kolom ketiga
      th:nth-child(4),
      td:nth-child(4) {
         width: 20%;
      } // Kolom keempat
   }

   @media (max-width: 768px) {
      display: block;
      thead {
         display: none;
      }

      tbody,
      tr,
      td {
         display: block;
         width: 100%;
      }

      td {
         text-align: right;
         position: relative;
         padding-left: 50%;
      }

      td::before {
         content: attr(data-label);
         position: absolute;
         left: 10px;
         font-weight: bold;
         text-align: left;
      }
   }
}
